.footer__items {
  margin: 0;
  padding: 64px 0 48px 16px;
  items-style-type: none;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .footer__items {
    flex-direction: row;
    padding-bottom: 24px;
    padding-left: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .footer__items {
    padding-left: 48px;
  }
}
